/* UNIFIED SEARCH FORM */
#search_form {
    margin: 0;
    padding: 10px;
    background: #ececec url(/images/gradient-light.png) repeat-x top left;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ddd;
    border-top: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
}

/* float clearing for IE6 */
#search_form {
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
#search_form {
  min-height: 1%;
}

/* float clearing for everyone else */
#search_form:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

#search_form h1 {
    float: left;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
    padding: 0;
    letter-spacing: 0;
}
#help_and_link {
    text-align: right;
}
#us_search_link {
    padding: 0 0 0 20px;
    margin: 0 10px 0 0;
    text-decoration: none;
    font-weight: normal;
    background: url(/images/icon-link.png) no-repeat top left;
}
#us_search_link:hover {
    text-decoration: underline;
}
#search_form .query {
    float: left;
}
div.search_form_and_results {
    float: left;
    margin-left: 20px;
    width: 690px;
}

div.query, div.documentCode {
    width: 320px;
    float: left;
    clear: left;
}

div.query #us_query {
    width: 320px;
}

div.tags, div.searchButtons {
    float: right;
    clear: right;
    width: 330px;
    padding: 5px 0 0 0;
}

div.documentCode {
}

div.documentCode #us_documentCode {
    width: 320px;
}

div.searchButtons {
}

/* show/hide tooltips depending on body class */

body .tooltip {
    display: none;
}

body.us_help .tooltip {
    display: inline;
}

/* jquery.autoSuggest.js */

ul.as-selections li.as-selection-item a.as-close {
    text-decoration: none;
}

/* jquery.placeholder.js */

.placeholder {color: #999;}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #999999;
}
