/*  css reset v1.0 | 20080212 | http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
:focus {
    outline: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* GENERAL */
body {
    font: 13px/18px Arial, Verdana, Helvetica, sans-serif;
    text-align: center; /* IE */
    border-top: 3px solid #951c00;
}
#wrap {
    width: 960px;
    margin: 0 auto;
    padding: 110px 0 0 0;
    text-align: left; /* related to body IE fix */
    position: relative;
}
.noscript {
    padding: 1em;
    background: #ffff7d;
    margin: 2em;
}

a, a:visited, a:link, a:active {
    color: #88f;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 10px;
    letter-spacing: 1px;
}

h2 {
    font-size: 14px;
    margin-bottom: 20px;
}

h3 {
    margin: .4em 0;
}

input[type=text] {
    margin: .5em 0;
}

input[type=checkbox] {
    margin: 0 .5em 0 0;
}

p {
    margin-bottom: .5em;
}

table {
    margin-bottom: 1em;
}

table thead {
    color: #333;
}

table td, table th {
    padding: 5px;
    border: 1px solid #999;
}

/* HEADER & NAV */
.header {
    position: absolute;
    background: url(/images/logo.gif) no-repeat;
    width: 283px;
    height: 53px;
    right: 10px;
    top: 30px;
}
.header span {
    position: absolute;
    left: -2000px;
    top: -2000px;
}

.nav {
    margin: 0 0 20px 0;
    height: 34px;
    background: #e2e2e2 url(/images/gradient.png) repeat-x top left;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
    overflow: hidden;
}
.mnav {
    float: left;
}

.snav {
    float: right;
}
.nav li {
    display: inline;
    font-size: 16p
}
.nav a {
    float: left;
    line-height: 34px;
    height: 34px;
    padding: 0 10px;
    color: #222;
    border-right: 1px solid #ddd;
    border-left: 1px solid #f4f4f4;
    font-weight: normal;
    letter-spacing: 1px;
}
.nav a:hover {
    color: #000;
    background: #eee;
    font-weight: normal;
    letter-spacing: 1px;
}
.nav .current a {
    height: 31px;
    border-bottom: 3px solid #951c00;
    
}
/* SEARCH HOME */
div.homesearch {
    width: 240px;
    padding: 5px;
    background: #eee;
}

/* SEARCH PAGE */
div.search {
    width: 230px;
    padding: 10px;
    background: #e2e2e2 url(/images/gradient.png) repeat-x top left;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
    float: left;
}

.filters .fold {
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: block;
    float: left;
    background: url(/images/hide.gif) no-repeat;
}
.filters .fold.folded {
    background-image: url(/images/collapse.gif);
}
.filters .fold span {
    position: absolute;
    top: -2000px;
    left: -2000px;
}

.filters label {
    display: block;
}

.filterGroup.folded {
    display: none;
}

.filters h3 {
    margin: 0 0 .4em;
}

.filterGroup {
    margin: 0 0 .4em;
}

/* CLAUSES/DOCUMENTS DETAILVIEW */
.clauseList li {
    position: relative;
    padding: 5px 50px 5px 10px;
}
.clauseList span {
    position: absolute;
    right: 5px;
    top: 5px;
}
.clauseList a {
    text-decoration: underline;
    color: #333;
}

#tags {
    margin-bottom: 1.5em;
}

#tags a {
    text-decoration: underline;
    color: #333;
}

div.results {
    margin-left: 280px;
    padding: 10px;
}
.results h2 a {
    color: #000;
}
.colorcoding {
    position: absolute;
    top: 168px;
    right: 0;
    font-size: 11px;
    color: #888;
}
.colorcoding span {
    padding: 0 5px;
    border-width: 12px;
}
.result {
    margin: 0 0 30px 0;
    padding: 0 20px 0 0;
    color: #444;
}
.scresolutions {/* blue */
    border-left: 5px solid #0058bc;
}
.ratlegal {/* red */
    border-left: 5px solid #bc0000;
    
}
.nonratlegal {/* lighter red */
    border-left: 5px solid #e30000;
    
}
.nonlegal {/* green */
    border-right: 3px solid #0b7900;
}

.colorcoding span.scresolutions {/* blue */
    border-left: 12px solid #0058bc;
    border-right: 0;
}
.colorcoding span.ratlegal {/* red */
    border-left: 12px solid #bc0000;
    border-right: 0;
    
}
.colorcoding span.nonratlegal {/* lighter red */
    border-left: 12px solid #e30000;
    border-right: 0;
    
}
.colorcoding span.nonlegal {/* green */
    border-left: 12px solid #0b7900;
    border-right: 0;
}



/* FRONTEND JQUERY COLLAPSING */
a.toggleCol {
    color: #000;
    padding-left: 20px;
    background: url(../images/hide.gif) no-repeat;
}
a.toggleCol.closed {
    background: url(../images/collapse.gif) no-repeat;
}