/* css reset v1.0 | 20080212 | http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
:focus {
    outline: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* GENERAL */
html {
    font: 12px Verdana, sans-serif;
    padding: 1em;
}

body {
    max-width: 1000px;
    min-width: 600px;
    margin: auto;
    position: relative;
}
* html body {
    width: 600px;
}

.noscript {
    padding: 1em;
    background: #ffff7d;
    margin: 2em;
}

a, a:visited, a:link, a:active {
    color: #88f;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.2em;
    margin: .7em 0;
}

h3 {
    margin: .4em 0;
}

input[type=text] {
    margin: .5em 0;
}

input[type=checkbox] {
    margin: 0 .5em 0 0;
}

p {
    margin-bottom: .5em;
}

table {
    margin-bottom: 1em;
}

table thead {
    color: #333;
}

table td, table th {
    padding: 5px;
    border: 1px solid #999;
}

/* HEADER & NAV */
.header {
    position: absolute;
    background: url(/images/logo.gif) no-repeat;
    width: 283px;
    height: 53px;
    right: 0;
    top: 0;
}
.header span {
    position: absolute;
    left: 10000px;
    top: -1000px;
}

.nav {
    padding-top: 10px;
    margin-bottom: 20px;
}
.nav li {
    display: inline;
    margin: 0 1em 0 0;
    font-size: 2em;
}

/* SEARCH HOME */
div.homesearch {
    width: 240px;
    padding: 5px;
    background: #eee;
}

/* SEARCH PAGE */
div.search {
    width: 240px;
    padding: 5px;
    background: #eee;
    float: left;
}

/* CLAUSES/DOCUMENTS DETAILVIEW */
.clauseList li {
    position: relative;
    padding: 5px 50px 5px 10px;
}
.clauseList span {
    position: absolute;
    right: 5px;
    top: 5px;
}
.clauseList a {
    text-decoration: underline;
    color: #333;
}

#tags {
    margin-bottom: 1.5em;
}

#tags a {
    text-decoration: underline;
    color: #333;
}

div.results {
    margin-left: 260px;
}

/* FRONTEND JQUERY COLLAPSING */
a.toggleCol {
    color: #000;
    padding-left: 20px;
    background: url(../images/hide.gif) no-repeat;
}
a.toggleCol.closed {
    background: url(../images/collapse.gif) no-repeat;
}